<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProdajaRakije"
        tools:targetApi="31">
        <activity
            android:name=".fragments.CustomerCartListViewFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.CustomerCartFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.MerchantCustomerListViewFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.CustomerHomeFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.LocationMapFragment"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBepWjkDseQvjsCRnP-Jh4_seG-U6tEVjE" />

        <activity
            android:name=".fragments.CustomerProfileFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.AddProductFramgent"
            android:exported="false" />
        <activity
            android:name=".fragments.MerchantProductListViewFragment"
            android:exported="false" />
        <activity
            android:name=".ui.login.MerchantProductsFragment"
            android:exported="false"
            android:label="@string/title_activity_merchant_products_fragment" />
        <activity
            android:name=".fragments.MerchantProfileFragment"
            android:exported="false" />
        <activity
            android:name=".MerchantActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragments.RegisterFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.LoginFragment"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>